name: Flutter Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'

      - name: Bersihkan dan Ambil Library
        run: |
          # Cari lokasi pubspec.yaml secara otomatis
          PROJ_DIR=$(find . -name pubspec.yaml -exec dirname {} \; | head -n 1)
          cd "$PROJ_DIR"
          flutter pub get

      - name: Build APK Split (Biar Ramping)
        run: |
          PROJ_DIR=$(find . -name pubspec.yaml -exec dirname {} \; | head -n 1)
          cd "$PROJ_DIR"
          flutter build apk --release --split-per-abi

      - name: Simpan Hasil APK
        uses: actions/upload-artifact@v3
        with:
          name: release-apk
          path: "**/build/app/outputs/flutter-apk/*-release.apk"
